@font-face {
    font-family: 'TLOU';
    src: url('../Assets/Fonts/The Last Of Us Rough.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Modern Sans";
    src: url("../Assets/Fonts/ModernSans-Light.otf") format("opentype");
    font-size: normal;
    font-weight: normal;
}

@import url('../https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* html {
    scroll-behavior: smooth;
    scroll-padding-top: 9.5vh;
} */

body {
    margin: 0;
    background-color: #000;
    font-family: 'TLOU';
}

body img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.header {
    background-color: transparent;
    margin: 0px 0px 1px 0px;
}

.header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul.sections {
    width: 700px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 170px;
    justify-content: space-between;
    color: #fff;
}

.container ul li {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.header p {
    font-family: 'TLOU';
    color: #fff;
    font-size: 30px;
}

.header a {
    text-decoration: none;
    color: #fdfdfd;
    text-transform: none;
    transition: 0.25s ease;
}

ul:hover a {
    color: #fdfdfd;
}

ul:hover a:hover {
    color: #fdfdfd;
    box-shadow: 0 2px 0 0 currentColor;
}

li:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

.buttons {
    width: 300px;
    list-style: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
    font-family: 'TLOU';
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    z-index: 1;
    margin-left: -80px;
    opacity: 1;
}

.logo:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

.logotexto {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: end;
    margin-top: 50px;
    color: #fff;
    opacity: 0.5;
    font-size: 150px;
    font-family: 'TLOU';
}

.logotexto p:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

#iconMusic:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

#iconMusic {
    height: -500px;
    width: -500x;
    color: #fff;
}

.AudioMusic {
    display: flex;
    position: absolute;
    right: 200px;
    bottom: 230px;
    justify-content: end;
    align-items: center;
}

.serie{
    width: 100vh;
    height: 100vh;
    position: absolute;
}

.serie .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.serie #title{
    display: flex;
    align-items:end;
    justify-content: center;
    margin: auto;
    margin-top:300px;
    color: #fff;
    font-size: 130px;
    font-family: "TLOU";
}


.serie #text{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 500px;
    color: #fff;
    text-align: justify;
    font-size: 30px;
    font-family: "Modern Sans";
    font-weight: bold;
    font-style: italic;
}

.snipet-Ytb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.snipet-Ytb img{
    position: absolute;
    right: -800px;
    bottom: 10px;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    opacity: 0.6;
}

.snipet-Ytb span{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Modern Sans";
    font-style: italic;
    font-weight: bold;    
}

.snipet-Ytb button{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}