@font-face {
    font-family: "Modern Sans";
    src: url("../Assets/Fonts/ModernSans-Light.otf") format("opentype");
    font-size: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Modern Sans";
}

body {
    background: #cfcfcf;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #000;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}


.logo {
    text-align: center;
    display: flex;
    transition: all 0.5 ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}

a {
    position: relative;
    color: rgba(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    color: #fff;
}

.fi  {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 24px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

a:hover {
    background: #141414;
}

nav:hover {
    width: 280px;
    transition: all 0.5 ease;
}

.logout {
    position: absolute;
    bottom: 2px;
}